.background {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#background-img {
  width: 100%;
  height: 6rem;
  border-radius: 10px 10px 0px 0px;
}

.attribut {
  display: flex;
  flex-direction: column;
  align-items: center;
  h4 {
    display: flex;
    justify-content: center;
    margin: 1rem;
    text-align: center;
  }
}

// .details {
//   display: flex;
//   align-items: center;
//   ul li {
//     display: flex;
//   }
// }

.image-cropper-top {
  width: 100px;
  height: 100px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  top: -3rem;
  display: flex;
  justify-content: center;
}

.profile-pic {
  width: 100%;
  object-fit: cover;
  display: inline;
  margin: 0 auto;
  height: 100%;
}

.profile-pic-little {
  display: inline;
  margin: 0 auto;
  object-fit: cover;
}

.my-profile {
  display: flex;
  justify-content: center;
  border-top: solid 1px #ffd7d7;
  align-items: center;
  height: 5rem;
  a {
    text-decoration: none;
    color: #fd2d01;
    font-weight: bolder;
    font-size: larger;
  }
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  margin-right: 34px;
  align-items: center;
  li {
    display: flex;
    flex-direction: column;
  }
}
.details {
  width: 15rem;
}
