@use '_colors.scss';

nav {
    position: sticky;
    top: 0px;
    align-self: flex-start;
    height: 3rem;
    text-align: right;
    background-color: colors.$backgroundDark;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
    a {
        color: colors.$primary;
        text-decoration: none;
        font-size: 1.2rem;
    }
}

.logo {
    display: flex;
    margin-left: 10px;
    img {
        width: 225px;
    }
}

.navlinks {
    display: flex;
    img:hover {
        transform: scale(1.3);
        transition-duration: 99ms;
    }
}
