// tablette
@media screen and (min-device-width: 768px) and (max-device-width: 960px) {
  .Profil-Card {
    margin-left: 10px;
    width: 18rem;
  }
  .post-card {
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .post-card-top {
    width: 22em;
  }
}

// mobile
@media screen and (max-device-width: 767px) {
  .header {
    position: initial;
  }
  .first-block {
    flex-direction: column;
  }
  .Profil-Card {
    background-color: #4e5166;
    height: -moz-fit-content;
    height: fit-content;
    width: -webkit-fill-available;
    margin-top: 0;
    margin-left: 0px;
    border-radius: 0px;
    position: unset;
    top: 53px;
    border-radius: 0rem 0rem 1rem 1rem;
  }
  .Dashboard {
    width: fit-content;
    min-height: 205rem;
  }
  .Feed {
    width: auto;
  }
  .nav {
    width: 83%;
  }
  .first-block {
    padding-left: 40px;
    padding-right: 40px;
  }
  .post-card {
    margin-left: 0px;
    margin-right: 0px;
  }
  h5 {
    font-size: large;
    margin-top: 5px;
    margin-bottom: 2px;
  }
  h3 {
    margin: 0px;
  }
  .post-card {
    margin-top: 10px;
    margin-bottom: 0px;
  }
  .imageUrl {
    width: 33rem;
  }
  .attribut h4 {
    margin-top: 7px;
  }
  .post-card-top {
    padding-right: 50px;
    padding-left: 50px;
  }

  .post-page {
    width: fit-content;
    background-color: #1e1f28;
    min-height: 62rem;
  }
  .Create_Form {
    button {
      border: solid red 1px;
    }
  }
  .DeleteButton {
    button {
      border: solid red 1px;
    }
  }
  .picture_container {
    img {
      width: 100px;
      height: 100px;
      top: 4rem;
      position: absolute;
      border-radius: 10rem;
    }
  }
}
