.Create_Title {
  background-color: #1e1f28;
  height: 200rem;
  display: flex;
  justify-content: center;
}

.Create_Form {
  display: flex;
}

.Create_Box {
  background-color: #4e5166;
}

.Create_Index {
  display: flex;
  justify-content: center;
}
