@use "_colors.scss";

#Logo {
  width: 320px;
  height: 320px;
}

#signup {
  display: flex;
  width: 80%;
  justify-content: center;
  align-items: center;
  div {
    position: relative;
  }
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.App {
  background-color: colors.$backgroundDark;
  height: 60rem;
}

.Content {
  background-color: colors.$backgroundLight;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  width: 25rem;
  align-items: center;
  color: colors.$secondary;
  text-align: center;
}

.Container {
  display: flex;
  justify-content: center;
  height: 40rem;
}

input {
  padding: 12px 20px;
  margin: 8px 0;
  border-radius: 10px;
}

form {
  display: flex;
  flex-direction: column;
}

.signup-btn {
  border-radius: 10px;
  background-color: colors.$primary;
  color: white;
  font-weight: 800;
  width: 12rem;
}

.link-login {
  color: colors.$secondary;
}

.offscreen {
  position: absolute;
  left: -100rem;
}

.hide {
  display: none;
}

.instructions {
  font-size: 14px;
  background-color: black;
  color: white;
  border-radius: 10px;
  width: 13rem;
  margin: 5px 0px 5px 0px;
}

.valid {
  position: absolute;
  right: -20px;
  top: 15px;
}
